TEST_SUMMARY_CHAT_ID= # Можно не указывать если вручную создал AvitoAccount и указал там telegram_id
TEST_AVITO_CHAT_ID= # Если не указывать, то нужно будет выбрать из предложенных chat_id в pytest рантайме
TEST_SELLER_AVITO_ACCOUNT_ID= # Если не указать, то нужно будет ввести access и refresh токены в pytest рантайме
TEST_CUSTOMER_AVITO_ACCOUNT_ID=
