ENVIRONMENT=

SECRET_KEY=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=

REDIS_HOST=
REDIS_PORT=

# Устанавливается только во время теста.
# Хост, на который селери присылает запросы для получения конфигов во время теста
TEST_DJANGO_HOST=

AVITO_CLIENT_ID=
AVITO_CLIENT_SECRET=
AVITO_WEBHOOK_HOST= # Example "de9c-144-126-237-4.ngrok-free.app" or "avitostata.ru"

AMO_INTEGRATION_ID=
AMO_SECRET=
AMO_WEBHOOK_DOMAIN= # Example "greatly-astounding-cicada.cloudpub.ru:443" or "avitostata.ru"

TELEGRAM_BOT_TOKEN=
OPENAI_API_KEY=
