{% extends "admin/change_form.html" %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            const button = document.createElement('button');
            button.innerHTML = 'Print ID';
            button.type = 'button';
            button.className = 'btn btn-primary';
            button.onclick = function() {
                const objectId = '{{ object.id }}';
                const url = `/admin/avitostat/avito_account/${objectId}/print_id/`;
                fetch(url, { method: 'GET' })
                    .then(response => response.text())
                    .then(data => console.log(`Instance ID: ${objectId}`))
                    .catch(error => console.error('Error:', error));
            };
            const form = document.getElementById('content-main');
            form.insertBefore(button, form.firstChild);
        });
    </script>
{% endblock %}
